.games {
  text-align: center;
}
.fullscreen {
  width: 95%;
  margin: 20px 2%;
}
.rpg > button {
  float: none;
  display: block;
}
.rpg > img {
  text-align: center;
}

.overlay {
	z-index: 150;
	text-transform: capitalize;
	text-align: center;
	font-size: 2.3em;
	color: #ffffff;
	text-shadow: 3px 2px 14px #000000;
}
