body{font-size:0.8em;}
.games{text-align:center}
.fullscreen{width:95%;margin:0 2%}
.rpg>button{float:none;display:block}
.rpg>img{text-align:center}
.overlay{z-index:150;text-transform:capitalize;text-align:center;font-size:2.3em;color:#fff;text-shadow:3px 2px 14px #000}
.large-btn{margin:15px 1% 0 1%;font-size:1.8em;}
.text-center{text-align:center;color:#ffffff;}
.proficiency button{margin-top:15px;margin-left:11px;font-size:1em;}
.dialogue{display: inline-block;width:100%;}
.dialogue img{width:inherit;}